<h1><%=@report_title%></h1>

<ul class="inline-list">
  <li><%= link_to 'Create Service', new_service_path %></li>
</ul>

<ul class="inline-list">
  <li class="right">Total: <%= @service_count %></li>
</ul>

<%= render 'service_list'%>

<%= will_paginate @services, renderer: FoundationPagination::Rails %>