<h1><%=@report_title%></h1>

<div>Total: <%=@service_count%></div>

<ul class="inline-list">
  <li><%= link_to 'Create Service', new_service_path %></li>
</ul>

<%= render 'service_list'%>

<%= will_paginate @services, renderer: FoundationPagination::Rails %>