<h1>Show Service History</h1>

<ul class="inline-list">
  <li><%= link_to 'All Services', services_path %></li>
</ul>

<% presenter_for(@service) do |service| %>
  <fieldset>
    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Vehicle</span>
      </div>
      <div class="small-9 columns">
        <%= service.vehicle_show_link_by_name %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Service Type</span>
      </div>
      <div class="small-9 columns">
        <%= service.service_type_show_link %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Expiration Type</span>
      </div>
      <div class="small-9 columns">
        <%= service.expiration_type %>
      </div>
    </div>

    <% if service.date_expiration_type? %>
      <div class="row field">
        <div class="small-3 columns">
          <span class="field-name">Interval Date</span>
        </div>
        <div class="small-9 columns">
          <%= service.interval_date %>
        </div>
      </div>
    <% end %>

    <% if service.mileage_expiration_type? %>
      <div class="row field">
        <div class="small-3 columns">
          <span class="field-name">Interval Mileage</span>
        </div>
        <div class="small-9 columns">
          <%= service.interval_mileage %>
        </div>
      </div>
    <% end %>

  </fieldset>
  <h3>Service History (<%= service.service_type_name %>)</h3>

  <span data-historical="data-historical">
        <table>
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Last Service Date</th>
            <th>Expiration Date</th>
            <th>Expiration Mileage</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <% @service_periods.each do |service_period| %>
            <tr>
              <td><%= service_period.active %></td>
              <td><%= service_period.last_service_date %></td>
              <td><%= service_period.expiration_date %></td>
              <td><%= service_period.expiration_mileage %></td>
              <td>
                <div class="<%= service_period.status_style %>">
                  <%= service_period.status %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </span>

  <%= service.show_link %>
<% end %>