<% presenter_for(@service) do |service| %>
  <h1>Show Service</h1>

  <ul class="inline-list">
    <li><%= link_to 'All Vehicle Services', services_path %></li>
    <li><%= link_to 'Create Service', new_service_path(source: :service) %></li>
    <li><%= link_to 'Create Vehicle', new_employee_path %></li>
  </ul>

  <fieldset>
    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Service Type</span>
      </div>
      <div class="small-3 columns">
        <%= service.service_type_show_link %>
      </div>
      <div class="small-6 columns">
        <%= service.show_history_link %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Vehicle</span>
      </div>
      <div class="small-9 columns">
        <%= service.vehicle_show_link_by_name %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Status</span>
      </div>
      <div class="small-9 columns">
        <div class="<%=service.status_style%>">
          <%= service.status %>
        </div>
      </div>
    </div>

    <% if service.date_expiration_type? %>
      <div class="row field">
        <div class="small-3 columns">
          <span class="field-name">Service Due Date</span>
        </div>
        <div class="small-9 columns">
          <%= service.service_due_date %>
        </div>
      </div>
    <% end %>


    <% if service.mileage_expiration_type? %>
      <div class="row field">
        <div class="small-3 columns">
          <span class="field-name">Service Due Mileage</span>
        </div>
        <div class="small-9 columns">
          <%= service.service_due_mileage %>
        </div>
      </div>
    <% end %>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Last Service Date</span>
      </div>
      <div class="small-9 columns">
        <%= service.last_service_date %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Last Service Mileage</span>
      </div>
      <div class="small-9 columns">
        <%= service.last_service_mileage %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Comments</span>
      </div>
      <div class="small-9 columns">
        <%= service.comments %>
      </div>
    </div>

    <div class="row actions">
      <div class="small-6 columns">
        <span class="right">
          <%= service.reservice_link %>
          <%= service.edit_link %>
          <%= service.delete_link %>
        </span>
      </div>
    </div>
  </fieldset>
<% end %>

