<%= form_for(@employee.employee_model, data: { employee_form: "data-employee-form" }) do |f| %>

  <%= render 'errors'%>

  <div class="field">
    <%= f.label :first_name, 'First Name' %>
    <br/>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name, 'Last Name' %>
    <br/>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :employee_number, 'Employee Number' %>
    <br/>
    <%= f.text_field :employee_number %>
  </div>

  <div class="field">
    <%= f.label :location_id, 'Location' %>
    <br/>
    <%= select(:employee, :location_id,
               options_from_collection_for_select(@locations, 'id', 'name',
                                                  @employee.location_id)) %>
  </div>

  <div class="actions">
    <%= submit_tag(user_action) %>
  </div>

<% end %>
