<h1>Edit Employee</h1>

<ul id="primary-nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'All Employees', employees_path %></li>
  <li><%= link_to "Create Employee", new_employee_path %></li>
</ul>

<%= render 'form', user_action: 'Update' %>

<%= EmployeePresenter.new(@employee, self).delete_link %>