<h1>Show Employee</h1>

<%= link_to 'Home', root_path %> |
<%= link_to 'All Employees', employees_path %> |
<%= link_to 'Create Employee', new_employee_path %>

<p>
  <b>Employee Number</b>
  <%= @employee.employee_number %>
</p>

<p>
  <b>First Name</b>
  <%= @employee.first_name %>
</p>

<p>
  <b>Last Name</b>
  <%= @employee.last_name %>
</p>

<p>
  <b>Location</b>
  <%= @employee.location_name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Delete', @employee, method: :delete, data: {confirm: 'Are you sure you want to delete?'} %> |
<%= link_to 'Deactivate', deactivate_confirm_path(@employee), data: {confirm: 'Deactivate Employee will unassign all equipment and remove employee.  Are you sure?'} %>

<hr/>
<%= link_to 'New Employee Certification', new_certification_path(employee_id: @employee.id, source: :employee) %>

<table class="sortable">
  <thead>
    <tr>
      <th><%= sortable 'name', title = 'Certification Type'%></th>
      <th>Trainer</th>
      <th>Expiration Date</th>
      <th>Last Certification Date</th>
      <th>Units</th>
      <th><%= sortable 'status_code', title='Status' %></th>
    </tr>
  </thead>
  <tbody>
    <% @certifications.each do |certification| %>
      <tr>
        <td><%= certification.name %></td>
        <td><%= certification.trainer %></td>
        <td><%= DateHelpers::date_to_string(certification.expiration_date) %></td>
        <td><%= DateHelpers::date_to_string(certification.last_certification_date) %></td>
        <td><%= units(certification) %></td>
        <td><%= certification.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @certifications %>