<% if @batch_certification.present? %>
  <div class="errors">
    <ul>
      <li>Errors occurred during the batch update. See below for details.</li>
    </ul>
  </div>
<% end %>

<% presenter_for(@employee) do |employee| %>
  <h1>Show Employee</h1>

  <ul id="primary-nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'All Employees', employees_path %></li>
    <li><%= link_to 'Create Employee', new_employee_path %></li>
  </ul>

  <p>
    <b>Employee Number</b>
    <%= employee.employee_number %>
  </p>

  <p>
    <b>First Name</b>
    <%= employee.first_name %>
  </p>

  <p>
    <b>Last Name</b>
    <%= employee.last_name %>
  </p>

  <p>
    <b>Location</b>
    <%= employee.location_name %>
  </p>

  <%= employee.edit_link %> |
  <%= employee.delete_link %> |
  <%= employee.deactivate_link %>

  <hr/>

  <h2>Employee's Certifications</h2>

  <% if employee.show_batch_edit_button?(@certifications) %>
    <input type="checkbox" id="editModeButton"/>
    <label for="editModeButton">Batch Edit Mode</label>
  <% end %>

  <%= form_tag(controller: 'batch_certifications', action: 'create') do %>
    <%= employee.hidden_id_field %>
    <table class="sortable" border="1">
      <thead>
      <tr>
        <th><%= sortable 'name', title = 'Certification Type' %></th>
        <th>Trainer</th>
        <th>Expiration Date</th>
        <th>Last Certification Date</th>
        <th>Units</th>
        <th><%= sortable 'status_code', title='Status' %></th>
      </tr>
      </thead>
      <tbody>
      <% @certifications.each do |certification| %>
        <tr>
          <td><%= link_to certification.name, certification.model %></td>
          <td><%= certification.trainer %></td>
          <td><%= certification.expiration_date %></td>
          <td><%= certification.last_certification_date %></td>
          <td>
            <% if certification.units_based? %>
              <span data-units-achieved-editable='data-units-achieved-editable'>
                <%= employee.units_input_field(certification, @batch_certification) %> of <%= certification.units_required %>
              </span>
              <span data-units-achieved-read-only='data-units-achieved-read-only'>
                <%= certification.units_achieved_of_required %>
              </span>
              <% if @batch_certification.present? %>
                <div class="errors">
                  <%= @batch_certification.error(certification.id) %>
                </div>
              <% end %>
            <% end %>
          </td>
          <td><%= certification.status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div id="batchUpdateButtons">
      <button type="submit" id="batchUpdateButton">
        Update
      </button>
      <button type="reset" id="resetButton">
        Reset
      </button>
    </div>

  <% end %>

  <%= will_paginate @certifications %>

  <br/>
  <%= employee.new_certification_link %>
<% end %>

<script type="text/javascript">
  $(function() {
    setup_batch_certification(
      "<%=employee_path @employee%>",
      "<%=@batch_certification.present?%>");
  })
</script>