<% if @batch_certification.present? %>
  <div class="errors">
    <ul>
      <li>Errors occurred during the batch update. See below for details.</li>
    </ul>
  </div>
<% end %>

<% presenter_for(@employee) do |employee| %>
  <h1>Show Employee</h1>

  <ul class="inline-list">
    <li><%= link_to 'All Employees', employees_path %></li>
    <li><%= link_to 'Create Employee', new_employee_path %></li>
  </ul>

  <%= render 'shared/errors', model: @employee %>

  <fieldset>
    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Employee Number</span>
      </div>
      <div class="small-9 columns">
        <%= employee.employee_number %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">First Name</span>
      </div>
      <div class="small-9 columns">
        <%= employee.first_name %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Last Name</span>
      </div>
      <div class="small-9 columns">
        <%= employee.last_name %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Location</span>
      </div>
      <div class="small-9 columns">
        <%= employee.location_name %>
      </div>
    </div>

    <div class="row actions">
      <div class="small-7 columns">
        <span class="right">
          <%= employee.edit_link %>
          <%= employee.delete_link %>
          <%= employee.deactivate_link %>
        </span>
      </div>
    </div>
  </fieldset>

  <h3>Employee's Certifications</h3>

  <ul class="inline-list">
    <li>
      <a href="#" data-dropdown="drop1" class="button tiny secondary radius dropdown">Export</a>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
        <li><%= employee.export_to_csv_link %></li>
        <li><%= employee.export_to_xls_link %></li>
        <li><%= employee.export_to_pdf_link(params) %></li>
      </ul>
    </li>
    <li>Total: <%= @total_certifications %></li>
  </ul>

  <% if employee.show_batch_edit_button?(@certifications) %>
    <input type="checkbox" id="editModeButton"/>
    <label for="editModeButton">Batch Edit Mode</label>
  <% end %>

  <%= form_tag(controller: 'batch_certifications', action: 'create') do %>
    <%= employee.hidden_id_field %>
    <table class="sortable">
      <thead>
      <tr>
        <th><%= sortable 'name', title = 'Certification Type' %></th>
        <th>Trainer</th>
        <th>Expiration Date</th>
        <th>Last Certification Date</th>
        <th>Units</th>
        <th><%= sortable 'status_code', title='Status' %></th>
      </tr>
      </thead>
      <tbody>
      <% @certifications.each do |certification| %>
        <tr>
          <td><%= link_to certification.name, certification.model %></td>
          <td><%= certification.trainer %></td>
          <td><%= certification.expiration_date %></td>
          <td><%= certification.last_certification_date %></td>
          <td>
            <% if certification.units_based? %>
              <span data-units-achieved-editable='data-units-achieved-editable'>
                <%= employee.units_input_field(certification, @batch_certification) %>
                of <%= certification.units_required %>
              </span>
              <span data-units-achieved-read-only='data-units-achieved-read-only'>
                <%= certification.units_achieved_of_required %>
              </span>
              <% if @batch_certification.present? %>
                <div class="errors">
                  <%= @batch_certification.error(certification.id) %>
                </div>
              <% end %>
            <% end %>
          </td>
          <td><%= certification.status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div id="batchUpdateButtons">
      <button type="submit" id="batchUpdateButton">
        Update
      </button>
      <button type="reset" id="resetButton">
        Reset
      </button>
    </div>

  <% end %>

  <%= will_paginate @certifications, renderer: FoundationPagination::Rails %>

  <div class="row actions">
    <div class="small-6 columns">
      <%= employee.new_certification_link %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    setup_batch_certification(
      "<%=employee_path @employee%>",
      "<%=@batch_certification.present?%>");
  })
</script>