<table class="sortable">
  <thead>
  <tr>
    <th><%= sortable 'name' %></th>
    <th><%= sortable 'expiration_type' %></th>
    <th><%= sortable 'interval_date_code', title="Interval Date" %></th>
    <th><%= sortable 'sortable_interval_mileage', title="Interval Mileage" %></th>
  </tr>
  </thead>
  <tbody>
  <% @service_types.each do |service_type| %>
    <tr>
      <td><%= link_to service_type.name, service_type.model %></td></td>
      <td><%= service_type.expiration_type %></td>
      <td><%= service_type.interval_date %></td>
      <td><%= service_type.interval_mileage %></td>
    </tr>
  <% end %>
  </tbody>
</table>