<h1><%=@report_title%></h1>

<div>Total: <%=@service_type_count%></div>

<ul class="inline-list">
  <li><%= link_to "Create Service Type", new_service_type_path %></li>
</ul>

<%= render 'service_types_list'%>

<%= will_paginate @service_types %>