<% presenter_for(@service_type) do |service_type| %>
  <h1>Show Service Type</h1>

  <ul class="inline-list">
    <li><%= link_to 'All Service Types', service_types_path %></li>
    <li><%= link_to "Create Service Type", new_service_type_path %></li>
  </ul>

  <%= render 'shared/errors', model: @service_type %>

  <fieldset>
    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Name</span>
      </div>
      <div class="small-9 columns">
        <%= service_type.name %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Expiration Type</span>
      </div>
      <div class="small-9 columns">
        <%= service_type.expiration_type %>
      </div>
    </div>

    <% if service_type.date_expiration_type? %>
      <div class="row field">
        <div class="small-3 columns">
          <span class="field-name">Interval Date</span>
        </div>
        <div class="small-9 columns">
          <%= service_type.interval_date %>
        </div>
      </div>
    <% end %>

    <% if service_type.mileage_expiration_type? %>
      <div class="row field">
        <div class="small-3 columns">
          <span class="field-name">Interval Mileage</span>
        </div>
        <div class="small-9 columns">
          <%= service_type.interval_mileage %>
        </div>
      </div>
    <% end %>

    <div class="row actions">
      <div class="small-6 columns">
        <span class="right" data-action-links=data-action-links>
          <%= service_type.edit_link %>
          <%= service_type.delete_link %>
        </span>
      </div>
    </div>
  </fieldset>

  <h3>Serviced Vehicles</h3>
  <span data-serviced-vehicles="data-serviced-vehicles">
    <table>
      <thead>
      <tr>
        <th><%= sortable 'vehicle_number', title = 'Vehicle Number', options = 'serviced_vehicles' %></th>
        <th>VIN</th>
        <th>License Plate</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Mileage</th>
        <th>Location</th>
        <th>Service Due Date</th>
        <th>Service Due Mileage</th>
        <th>Last Service Date</th>
        <th>Last Service Mileage</th>
        <th><%= sortable 'status_code', title='Status', options = 'serviced_vehicles' %></th>
        <th>Service</th>
      </tr>
      </thead>
      <tbody>

      <% @services.each do |service| %>
        <tr>
          <td><%= link_to service.vehicle_number, service.vehicle.model %></td>
          <td><%= link_to service.vehicle_vin, service.vehicle.model %></td>
          <td><%= service.vehicle_license_plate %></td>
          <td><%= service.vehicle_year %></td>
          <td><%= service.vehicle_make %></td>
          <td><%= service.vehicle_model %></td>
          <td><%= service.vehicle_mileage %></td>
          <td><%= service.vehicle_location %></td>
          <td><%= service.service_due_date %></td>
          <td><%= service.service_due_mileage %></td>
          <td><%= service.last_service_date %></td>
          <td><%= service.last_service_mileage %></td>
          <td>
            <div class="<%=service.status_style%>">
              <%= service.status %>
            </div>
          </td>
          <td><%= link_to 'Edit', service.model %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </span>

  <h3>Non-Serviced Vehicles</h3>
  <span data-unserviced-vehicles="data-unserviced-vehicles">
    <table>
      <thead>
      <tr>
        <th><%= sortable 'vehicle_number', title = 'Vehicle Number', options = 'unserviced_vehicles' %></th>
        <th>VIN</th>
        <th>License Plate</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Mileage</th>
        <th>Location</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @non_serviced_vehicles.each do |unserviced_vehicle| %>
        <tr>
          <td><%= link_to unserviced_vehicle.vehicle_number, unserviced_vehicle.model %></td>
          <td><%= link_to unserviced_vehicle.vin, unserviced_vehicle.model %></td>
          <td><%= unserviced_vehicle.license_plate %></td>
          <td><%= unserviced_vehicle.year %></td>
          <td><%= unserviced_vehicle.make %></td>
          <td><%= unserviced_vehicle.vehicle_model %></td>
          <td><%= unserviced_vehicle.mileage %></td>
          <td><%= unserviced_vehicle.location %></td>
          <td>
            <%= link_to 'Service',
                        new_service_path(
                          service_type_id: service_type.id,
                          vehicle_id: unserviced_vehicle.id,
                          source: :service_type
                        )
            %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </span>
<% end %>