<h1>Recertify Employee</h1>

<ul class="inline-list">
  <li><%= link_to 'Search Certifications', search_certifications_path %></li>
  <li><%= link_to 'Create Certification', new_certification_path(source: :certification) %></li>
</ul>

<%= form_tag(certification_recertifications_path(@certification)) do |f| %>
  <%= render 'shared/errors', model: @certification %>

  <fieldset>
    <div class="row field">
      <div class="small-2 columns">
        <label>Employee</label>
      </div>
      <div class="small-10 columns">
        <%= link_to "#{@certification.employee.first_name} #{@certification.employee.last_name}", @certification.employee %>
      </div>
    </div>

    <div class="row field">
      <div class="small-2 columns">
        <span id="certification_type" data-id="<%= @certification.certification_type.id %>">
          <label>Certification Type</label>
        </span>
      </div>
      <div class="small-10 columns">
        <%= link_to @certification.certification_type.name, certification_type_path(@certification.certification_type) %>
      </div>
    </div>

    <div class="row field">
      <div class="small-6 columns">
        <%= label_tag :trainer %>
        <%= text_field_tag :trainer, @certification.trainer %>
      </div>
    </div>

    <div class="row field">
      <div class="small-6 columns" data-units_achieved="data-units_achieved">
        <%= label_tag :units_achieved, 'Units Achieved' %>
        <%= text_field_tag :units_achieved, 0 %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-12 columns">
            <%= label_tag :last_certification_date, 'Last Certification Date' %>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <input class="datepicker"
                   id="last_certification_date"
                   name="last_certification_date"
                   type="text"
                   value="<%= DateHelpers.date_to_string(@certification.last_certification_date) %>">
          </div>
          <div class="small-6 columns">
            <img class="ui-datepicker-trigger" src="/assets/calendar.png" alt="..." title="..." style="display: inline;"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row field">
      <div class="small-6 columns">
        <%= label_tag :comments %>
        <%= text_area_tag :comments, @certification.comments, class: "comments" %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <span class="right">
          <%= submit_tag('Recertify', class: "button tiny radius") %>
        </span>
      </div>
    </div>

  </fieldset>
<% end %>

<script type="text/javascript">
  $(function() {
      do_if_units_based(
        function() {
          $('[data-units_achieved]').show();
        },
        function() {
          $('[data-units_achieved]').hide();
        });
    }
  );

  $('[name=commit]').click(function() {
    return confirm_future_date(new Date(document.getElementById('last_certification_date').value));
  });

  $('#certification_certification_type_id').change(function() {
    do_if_units_based(
      function() {
        $('[data-units_achieved]').slideDown();
        $('[data-units_achieved]').show('slide');
        $('#certification_units_achieved').val(0);
      },
      function() {
        $('[data-units_achieved]').hide('explode');
        $('#certification_units_achieved').val(null);
      });

  });

  function do_if_units_based(true_callback, false_callback) {
    $.getJSON('<%= ajax_is_units_based_path %>',
      {certification_type_id: $('#certification_type').data('id')},
      function(data) {
        if (data.is_units_based) {
          true_callback();
        }
        else {
          false_callback();
        }
      }
    );
  }
  ;
</script>