<p><%= link_to 'All Customers', customers_path %></p>
<p><%= link_to 'Create Customer', new_customer_path %></p>
<p><%= link_to 'All Locations', locations_path %></p>
<p><%= link_to 'Deactivated Employees', deactivated_employees_path %></p>

<%= render 'customer_list' %>
