<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#">Certification</a>
        </h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="has-form">
          <%= form_tag({:controller => "certifications", :action => "search"}, :method => "get", 'data-certification-search-form' => 'data-certification-search-form') do %>
            <div class="row collapse">
              <div class="small-8 columns">
                <%= text_field_tag :certification_type_or_employee_name, params[:certification_type_or_employee_name], {placeholder: "Search Certifications"} %>
              </div>
              <div class="small-4 columns">
                <%= submit_tag "Search", class: "button tiny radius right" %>
              </div>
            </div>
          <% end %>
        </li>
      </ul>
    </section>
  </nav>
</div>

<div class="panel">
  <div class="row">
    <div class="small-6 columns">
      <ul class="menu no-bullet">
        <li class="menu-item">
          <%= link_to "All Employee Certifications (#{@total_certification_count})", certifications_path, class: "menu-item-link icon all-employee-cert-link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Expired Certifications (#{@total_expired_certification_count})", expired_certifications_path, class: "menu-item-link icon exp-cert-link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Certifications Expiring Soon (#{@total_expiring_certification_count})", expiring_certifications_path, class: "menu-item-link icon exp-cert-soon-link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Units Based Certifications (#{@total_units_based_certification_count})", units_based_certifications_path, class: "menu-item-link icon units-based-cert-link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Recertification Required Certifications (#{@total_recertification_required_certification_count})", recertification_required_certifications_path, class: "menu-item-link icon recert-req-link" %>
        </li>
      </ul>
    </div>

    <div class="small-6 columns">
      <ul class="menu no-bullet">
        <li class="menu-item">
        <%= link_to 'All Certification Types', certification_types_path, class: "menu-item-link icon all-cert-types-link" %>
        </li>
        <li class="menu-item">
          <%= link_to 'Search Certification Types', search_certification_types_path, class: "menu-item-link icon search-cert-types-link" %>
        </li>
        <li class="menu-item">
          <%= link_to 'Create Certification Type', new_certification_type_path, class: "menu-item-link icon create-cert-type-link" %>
        </li>
        <li class="menu-item">
          <%= link_to 'All Employees', employees_path, class: "menu-item-link icon all-emp-link" %>
        </li>
        <li class="menu-item">
          <%= link_to 'Create Employee', new_employee_path, class: "menu-item-link icon create-emp-link" %>
        </li>
        <li class="menu-item">
          <%= link_to 'Create Training Event', employee_list_training_event_path, class: "menu-item-link icon create-training-event-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>