<p><%= link_to "All Employee Certifications (#{@total_certification_count})", certifications_path %></p>
<p><%= link_to "Expired Certifications (#{@total_expired_certification_count})", expired_certifications_path %></p>
<p><%= link_to 'Create Certification Type', new_certification_type_path %></p>
<p><%= link_to 'All Certification Types', certification_types_path %></p>
<p><%= link_to 'Search Certification Types', search_certification_types_path %></p>
<p><%= link_to 'Create Employee', new_employee_path %></p>
<p><%= link_to 'All Employees', employees_path %></p>