<p><%= link_to "All Equipment (#{@total_equipment_count})", equipment_index_path %></p>
<p><%= link_to "Expired Equipment (#{@expired_equipment_count})", expired_equipment_path %></p>
<p><%= link_to "Equipment Expiring Soon (#{@expiring_equipment_count})", expiring_equipment_path %></p>
<p><%= link_to "Non-Inspectable Equipment", noninspectable_equipment_path %></p>
<p><%= link_to 'Create Equipment', new_equipment_path %></p>