<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#">Vehicle</a>
        </h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="has-form">
          <%= form_tag({:controller => "vehicles", :action => "search"}, :method => "get", 'data-vehicle-search-form' => 'data-vehicle-search-form') do %>
            <div class="row collapse">
              <div class="small-8 columns">
                <%= text_field_tag :make, params[:make], {placeholder: "Search Vehicles"} %>
              </div>
              <div class="small-4 columns">
                <%= submit_tag "Search", class: "button tiny radius" %>
              </div>
            </div>
          <% end %>
        </li>
      </ul>
    </section>
  </nav>
</div>

<div class="panel">
  <div class="row">

    <div class="small-6 columns">
      <ul class="menu no-bullet">
        <li class="menu-item">
          <%= link_to "All Vehicle Services (#{@total_service_count})", services_path, class: "menu-item-link icon all-services-link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Expired Vehicle Services (#{@total_expired_service_count})", expired_services_path, class: "menu-item-link icon exp-services-link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Expiring Vehicle Services (#{@total_expiring_service_count})", expiring_services_path, class: "menu-item-link icon exp-services-soon-link" %>
        </li>
      </ul>
    </div>

    <div class="small-6 columns">
      <ul class="menu no-bullet">
        <li class="menu-item">
          <%= link_to "All Vehicles", vehicles_path, class: "menu-item-link icon all-vehicles-link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Create Vehicle", new_vehicle_path, class: "menu-item-link icon create-vehicle-link" %>
        </li>
        <li class="menu-item">
          <%= link_to "All Service Types", service_types_path, class: "menu-item-link icon all-service-types-link" %>
        </li>
        <li class="menu-item">
          <%= link_to "Create Service Type", new_service_type_path, class: "menu-item-link icon create-service-type-link" %></li>
      </ul>
    </div>

  </div>
</div>