<%= form_tag({:controller => "vehicles", :action => "search"}, :method => "get", 'data-vehicle-search-form' => 'data-vehicle-search-form') do %>
  <table>
    <tr>
      <td>
        <%= text_field_tag :make, params[:make] %>
      </td>
      <td>
        <%= submit_tag "Search", :name => nil %>
      </td>
    </tr>
  </table>
<% end %>
<p><%= link_to "All Vehicles", vehicles_path %></p>
<p><%= link_to "Create Vehicle", new_vehicle_path %></p>
<p><%= link_to "All Service Types", service_types_path %></p>
<p><%= link_to "Create Service Type", new_service_type_path %></p>
