<h2>Welcome to CertoTrack</h2>

<% if can? :read, :equipment %>
  <%= render 'equipment_links' %>
<% end %>

<% if can? :read, :certification %>
  <%= render 'certification_links' %>
<% end %>

<% if can? :read, :vehicle %>
  <%= render 'vehicle_links' %>
<% end %>

<% if (can? :manage, :administration) %>
  <%= render 'administration_links' %>
<% elsif (can? :read, :equipment) || (can? :read, :certification) || (can? :read, :vehicle) %>
  <%= render 'user_administration_links' %>
<% end %>

<% if (cannot? :read, :equipment) && (cannot? :read, :certification) && (cannot? :read, :vehicle) %>
  <p>You are not authorized for any services. Please contact support@certotrack.com.</p>
<% end %>