<h1>Reservice Vehicle</h1>

<ul class="inline-list">
  <li><%= link_to 'Create Service', new_service_path %></li>
</ul>

<% vehicle = presenter_for(@service.vehicle) %>

<%= form_tag(service_reservices_path(@service)) do |f| %>

    <%= render 'shared/errors', model: @service %>

    <div class="field">
        <span class="label">
        Vehicle
        </span>
        <span class="value">
        <%= vehicle.name %>
        </span>
    </div>
    <div class="field">
      <span class="label">
        Service Type
      </span>
      <span class="value">
          <%= @service.name %>
      </span>
    </div>

    <div class="field">
      <%= label_tag :start_mileage, 'Last Service Mileage' %>
      <%= text_field_tag :start_mileage, @service.last_service_mileage %>
    </div>
    <div class="field">
      <%= label_tag :start_date, 'Last Service Date' %>
      <%= text_field_tag :start_date, DateHelpers.date_to_string(@service.last_service_date), class: 'datepicker' %>
    </div>
    <div class="field">
      <%= label_tag :comments, 'Comments' %>
      <%= text_area_tag :comments, @service.comments %>
    </div>
    <%= submit_tag('Reservice') %>
<% end %>

<script type="text/javascript">
  $('[name=commit]').click(function() {
    return confirm_future_date(new Date(document.getElementById('start_date').value));
  });
</script>