<table class="sortable">
  <thead>
  <tr>
    <th><%= sortable 'name' %></th>
    <th><%= sortable 'serial_number' %></th>
    <th><%= sortable 'status_code', title='Status' %></th>
    <th><%= sortable 'inspection_interval_code', title="Inspection Interval" %></th>
    <th><%= sortable 'last_inspection_date_sort_key', title='Last Inspection Date' %></th>
    <th><%= sortable 'inspection_type' %></th>
    <th><%= sortable 'expiration', title='Expiration Date' %></th>
    <th><%= sortable 'assignee' %></th>
  </tr>
  </thead>
  <tbody>
  <% @equipments.each do |equipment| %>
    <tr>
      <td><%= link_to equipment.name, equipment.model %></td>
      </td>
      <td><%= equipment.serial_number %></td>
      <td>
        <div class="<%=equipment.status_style%>">
          <%= equipment.status %>
        </div>
      </td>
      <td><%= equipment.inspection_interval %></td>
      <td><%= equipment.last_inspection_date %></td>
      <td><%= equipment.inspection_type %></td>
      <td><%= equipment.expiration_date %></td>
      <td><%= equipment.assignee %></td>
    </tr>
  <% end %>
  </tbody>
</table>