<table class="sortable">
  <thead>
  <tr>
    <th><%= sortable 'name' %></th>
    <th><%= sortable 'serial_number' %></th>
    <th><%= sortable 'status_code', title='Status' %></th>
    <th><%= sortable 'inspection_interval_code', title="Inspection Interval" %></th>
    <th><%= sortable 'last_inspection_date' %></th>
    <th><%= sortable 'inspection_type' %></th>
    <th><%= sortable 'expiration_date' %></th>
    <th><%= sortable 'assignee' %></th>
  </tr>
  </thead>
  <tbody>
  <% @equipments.map{ |equipment| equipment_presenter_for(equipment) }.each do |equipment| %>
    <tr>
      <td><%= link_to equipment.name, equipment.model %></td></td>
      <td><%= equipment.serial_number %></td>
      <td><%= equipment.status %></td>
      <td><%= equipment.inspection_interval %></td>
      <td><%= equipment.last_inspection_date %></td>
      <td><%= equipment.inspection_type %></td>
      <td><%= equipment.expiration_date %></td>
      <td><%= equipment.assigned_to %></td>
    </tr>
  <% end %>
  </tbody>
</table>