<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
        <% @equipment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :serial_number, 'Serial Number' %>
    <br/>
    <%= f.text_field :serial_number %>
  </div>

  <div class="field">
    <label for="assignee">Assignee</label>
    <select id="assignee" name="assignee">
      <%= options_for_select(['Unassigned', 'Employee', 'Location']) %>
    </select>

    <div id="assigneeListContainer">
      <select id="assignedTo" name="assignedTo"></select>
    </div>
  </div>


  <div class="field">
    <%= f.label :inspection_interval, 'Inspection Interval' %>
    <br/>
    <%= select(:equipment, :inspection_interval,
               options_from_collection_for_select(InspectionInterval.all.to_a, 'text', 'text',
                                                  @equipment.inspection_interval)) %>
  </div>

  <div class="field">
    <%= f.label :last_inspection_date, 'Last Inspection Date' %>
    <br/>
    <%= f.text_field :last_inspection_date %>
  </div>

  <div class="field">
    <%= f.label :notes, 'Comments' %>
    <br/>
    <%= f.text_field :notes %>
  </div>

  <div class="actions">
    <%= submit_tag(user_action) %>
  </div>

<% end %>

<script type="text/javascript">
  $(function() {
    if (<%=@equipment.location_id.present?%>) {
      $('#assignee').val('Location');
    } else {
      $('#assigneeListContainer').hide();
    }

    $("#assignedTo").remoteChained("#assignee", "/ajax_assignee");
    $("#assignedTo").chained("#assignee");

    $('#assignee').change(function() {
      if ($(this).val() == 'Unassigned') {
        if ($('#assigneeListContainer').is(':visible')) {
          $('#assigneeListContainer').hide('explode', function() {
            $('input[data-hidden-assignee]').remove()
            show_input('location', 'nil');
            show_input('trooper', 'nil');
          });
        }
      } else {
        $('#assigneeListContainer').slideDown();
      }

      $('#assigneeLabel, #assigneeList').show('slide');
    });

    $('#assignedTo').change(function() {
      $('input[data-hidden-assignee]').remove()

      if ($('#assignee').val() == 'Location') {
        show_input('location', $(this).val());
        $('#assignedTo').val(<%=@equipment.location_id%>);
      } else if ($('#assignee').val() == 'Employee') {
        show_input('employee', $(this).val());
      } else {
        show_input('location', 'nil');
        show_input('employee', 'nil');
      }
    });

    function show_input(name, value) {
      $('<input>').attr('type', 'hidden').attr('data-hidden-assignee', 'data-hidden-assignee').attr('name', 'equipment[' + name + '_id]').attr('value', value).appendTo('#assigneeListContainer');
    }
  });
</script>


