<%= form_for(@equipment, data: { equipment_form: "data-equipment-form" }) do |f| %>

  <%= render 'errors'%>

  <div class="field">
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :serial_number, 'Serial Number' %>
    <br/>
    <%= f.text_field :serial_number %>
  </div>

  <div class="field">
    <label for="assignee">Assignee</label>
    <select id="assignee" name="assignee">
      <%= options_for_select(['Unassigned', 'Employee', 'Location']) %>
    </select>

    <div id="assigneeListContainer">
      <select id="assignedTo" name="assignedTo"></select>
    </div>
  </div>


  <div class="field">
    <%= f.label :inspection_interval, 'Inspection Interval' %>
    <br/>
    <%= select(:equipment, :inspection_interval,
               options_from_collection_for_select(@intervals, 'text', 'text',
                                                  @equipment.inspection_interval)) %>
  </div>

  <div class="field">
    <%= f.label :last_inspection_date, 'Last Inspection Date' %>
    <br/>
    <input class="datepicker"
           id="equipment_last_inspection_date"
           name="equipment[last_inspection_date]"
           type="text"
           value="<%= DateHelpers.format(@equipment.last_inspection_date) %>">
  </div>

  <div class="field">
    <%= f.label :notes, 'Comments' %>
    <br/>
    <%= f.text_field :notes %>
  </div>

  <div class="actions">
    <%= submit_tag(user_action) %>
  </div>

<% end %>

<script type="text/javascript">
  $(function() {
    if (<%=@equipment.assigned_to_location? %>) {
      $('#assignee').val('Location');
    } else if (<%=@equipment.assigned_to_employee? %>) {
      $('#assignee').val('Employee');
    } else {
      $('#assigneeListContainer').hide();
    }

    $("#assignedTo").remoteChained("#assignee", "/ajax_assignee");
    $("#assignedTo").chained("#assignee");

    $('#assignee').change(function() {
      if ($(this).val() == 'Unassigned') {
        if ($('#assigneeListContainer').is(':visible')) {
          $('#assigneeListContainer').hide('explode', function() {
            remove_input();
            add_input('location', '');
            add_input('employee', '');
          });
        }
      } else {
        $('#assigneeListContainer').slideDown();
      }

      $('#assigneeLabel, #assigneeList').show('slide');
    });

    $('#assignedTo').change(function() {
      remove_input();

      if ($('#assignee').val() == 'Location') {
        add_input('location', $(this).val());
        add_input('employee', '');
        $('#assignedTo').val(<%=@equipment.location_id%>);
      } else if ($('#assignee').val() == 'Employee') {
        add_input('employee', $(this).val());
        add_input('location', '');
        $('#assignedTo').val(<%=@equipment.employee_id%>);
      } else {
        add_input('location', '');
        add_input('employee', '');
      }
    });

    function add_input(name, value) {
      $('<input>').attr('type', 'hidden').attr('data-hidden-assignee', 'data-hidden-assignee').attr('name', 'equipment[' + name + '_id]').attr('value', value).appendTo('#assigneeListContainer');
    }

    function remove_input() {
      $('input[data-hidden-assignee]').remove();
    }
  });

  $('[name=commit]').click(function() {
    var date = new Date(document.getElementById('equipment_last_inspection_date').value);
    var today = new Date();
    var sure = true;

    if (date > today) {
      sure = confirm('Are you sure you want to enter a future date?');
    }

    if (sure) {
      $('[data-equipment-form]').submit();
    }

    return false;
  });
</script>