<%= form_for(@equipment, data: {equipment_form: "data-equipment-form"}) do |f| %>

  <%= render 'shared/errors', model: @equipment %>

  <fieldset>
    <div class="row">
      <div class="small-6 columns">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :serial_number, 'Serial Number' %>
        <%= f.text_field :serial_number %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <label for="assignee">Assignee</label>
        <div class="row">
          <div class="small-6 columns">
            <select id="assignee" name="assignee">
              <%= options_for_select(['Unassigned', 'Employee', 'Location']) %>
            </select>
          </div>
          <div class="small-6 columns">
            <div id="assigneeListContainer">
              <select id="assignedTo" name="assignedTo"></select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :inspection_interval, 'Inspection Interval' %>
        <%= select(:equipment, :inspection_interval,
                   options_from_collection_for_select(@intervals, 'text', 'text',
                                                      @equipment.inspection_interval)) %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <div class="row">
          <div class="small-12 columns">
            <%= f.label :last_inspection_date, 'Last Inspection Date' %>
          </div>
        </div>
        <div class="row">
          <div class="small-6 columns">
            <input class="datepicker"
                   id="equipment_last_inspection_date"
                   name="equipment[last_inspection_date]"
                   type="text"
                   value="<%= DateHelpers.date_to_string(@equipment.last_inspection_date) %>"
                   style="display: inline;">
          </div>
          <div class="small-6 columns">
            <img class="ui-datepicker-trigger" src="/assets/calendar.png" alt="..." title="..." style="display: inline;"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :comments, 'Comments' %>
        <%= f.text_area :comments, class: "comments" %>
      </div>
    </div>

    <div class="row actions">
      <div class="small-6 columns">
        <span class="right">
            <%= submit_tag(user_action, class: "button tiny radius") %>
            <%= delete_link if delete_link.present? %>
        </span>
      </div>
    </div>
  </fieldset>

<% end %>

<script type="text/javascript">
  $(function() {
    if (<%=@equipment.assigned_to_location? %>) {
      $('#assignee').val('Location');
    } else if (<%=@equipment.assigned_to_employee? %>) {
      $('#assignee').val('Employee');
    } else {
      $('#assigneeListContainer').hide();
    }

    $("#assignedTo").remoteChained("#assignee", "/ajax_assignee");
    $("#assignedTo").chained("#assignee");

    $('#assignee').change(function() {
      if ($(this).val() == 'Unassigned') {
        if ($('#assigneeListContainer').is(':visible')) {
          $('#assigneeListContainer').hide('slide', function() {
            remove_input();
            add_input('location', '');
            add_input('employee', '');
          });
        }
      } else {
        $('#assigneeListContainer').slideDown();
      }

      $('#assigneeLabel, #assigneeList').show('slide');
    });

    $('#assignedTo').one("change", function() {
      if ($('#assignee').val() == 'Location') {
        $('#assignedTo').val(<%=@equipment.location_id%>);
      } else if ($('#assignee').val() == 'Employee') {
        $('#assignedTo').val(<%=@equipment.employee_id%>);
      }
    });

    $('#assignedTo').change(function() {
      remove_input();

      if ($('#assignee').val() == 'Location') {
        add_input('location', $(this).val());
        add_input('employee', '');
      } else if ($('#assignee').val() == 'Employee') {
        add_input('employee', $(this).val());
        add_input('location', '');
      } else {
        add_input('location', '');
        add_input('employee', '');
      }
    });

    function add_input(name, value) {
      $('<input>').attr('type', 'hidden').attr('data-hidden-assignee', 'data-hidden-assignee').attr('name', 'equipment[' + name + '_id]').attr('value', value).appendTo('#assigneeListContainer');
    }

    function remove_input() {
      $('input[data-hidden-assignee]').remove();
    }
  });

  $('[name=commit]').click(function() {
    return confirm_future_date(new Date(document.getElementById('equipment_last_inspection_date').value));
  });

  autocomplete_input_field('input#equipment_name', '<%=ajax_equipment_name_path%>');
</script>