<h1><%= @report_title %></h1>

<ul class="inline-list">
  <li><%= link_to "Create Equipment", new_equipment_path %></li>
  <li><%= link_to 'Search Equipment', search_equipment_path %></li>
</ul>

<ul class="inline-list">
  <%= render @export_template %>
  <li>Total: <%= @equipment_count %></li>
</ul>

<%= render 'equipment_list' %>

<%= will_paginate @equipments, renderer: FoundationPagination::Rails %>