<h1><%=@report_title%></h1>

<div>Total: <%=@equipment_count%></div>

<%= link_to 'Home', root_path %> |
<%= link_to "Create Equipment", new_equipment_path %>

<%= render 'equipment_list'%>

<%= will_paginate @equipment %>