<h1><%=@report_title%></h1>

<div>Total: <%=@equipment_count%></div>

<%= link_to 'Home', root_path %> |
<%= link_to "Create Equipment", new_equipment_path %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Serial Number</th>
    <th>Status</th>
    <th>Inspection Interval</th>
    <th>Last Inspection Date</th>
    <th>Type</th>
    <th>Expiration Date</th>
    <th>Assignee</th>
  </tr>
  </thead>
  <tbody>
  <% @equipment.each do |equipment| %>
    <tr>
      <td><%= link_to equipment.name, equipment %></td></td>
      <td><%= equipment.serial_number %></td>
      <td><%= equipment.status %></td>
      <td><%= equipment.inspection_interval %></td>
      <td><%= DateHelpers::format(equipment.last_inspection_date) %></td>
      <td><%= equipment.inspection_type %></td>
      <td><%= DateHelpers::format(equipment.expiration_date) %></td>
      <td><%= display_assigned_to(equipment) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
