<h1><%= @report_title %></h1>

<div>Total: <%= @equipment_count %></div>

<ul id="primary-nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to "Create Equipment", new_equipment_path %></li>
</ul>

<p>You may enter any of the below values.</p>

<%= form_tag search_equipment_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <table>
    <tr>
      <td><label for="name">Name contains:</label></td>
      <td>
        <%= text_field_tag :name, params[:name] %>
      </td>
    </tr>
    <tr>
      <td><label for="serial_number">Serial Number contains:</label></td>
      <td>
        <%= text_field_tag :serial_number, params[:serial_number] %>
      </td>
    </tr>
    <tr>
      <td>Assigned To</td>
      <td></td>
    </tr>
    <tr>
      <td><label for="location_id">Location:</label></td>
      <td>
        <select name="location_id">
          <option value='' selected='selected'>Any Location</option>
          <%=
              options_from_collection_for_select(@locations, 'id', 'name', params[:location_id])
          %>
        </select>
      </td>
    </tr>
    <tr>
      <td><label for="employee_id">Employee:</label></td>
      <td>
        <select name="employee_id">
          <option value='' selected='selected'>Any Employee</option>
          <%=
              options_from_collection_for_select(@employees, 'id', 'name', params[:employee_id])
          %>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= submit_tag "Search" %>
      </td>
    </tr>
  </table>
<% end %>

<ul id="export-nav">
  <li><%= link_to 'Export to CSV', search_equipment_path(format: 'csv', params: params) %></li>
  <li><%= link_to 'Export to Excel', search_equipment_path(format: 'xls', params: params) %></li>
</ul>

<%= render 'equipment_list' %>

<%= will_paginate @equipments %>

<script type="text/javascript">
  autocomplete_input_field('input#name', '<%=ajax_equipment_name_path%>');
</script>