<h1>Show Equipment</h1>

<%= link_to 'Home', root_path %>
<%= link_to "All Equipment", equipment_index_path %> |
<%= link_to 'Search Equipment', search_equipment_path %> |
<%= link_to 'Create Equipment', new_equipment_path %>


<p>
  <b>Name</b>
  <%= @equipment.name %>
</p>

<p>
  <b>Serial Number</b>
  <%= @equipment.serial_number %>
</p>

<p>
  <% if @equipment.assigned_to_location? %>
    <b>Location</b>
  <% elsif @equipment.assigned_to_employee? %>
    <b>Employee</b>
  <% else %>
    <b>Assignee</b>
  <% end %>
  <%= display_assigned_to(@equipment) %>
</p>

<p>
  <b>Status</b>
  <%= @equipment.status %>
</p>

<p>
  <b>Inspection Interval</b>
  <%= @equipment.inspection_interval %>
</p>

<p>
  <b>Last Inspection Date</b>
  <%= DateHelpers::format(@equipment.last_inspection_date) %>
</p>

<p>
  <b>Expiration Date</b>
  <%= DateHelpers::format(@equipment.expiration_date) %>
</p>

<p>
  <b>Comments</b>
  <%= @equipment.notes %>
</p>


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Delete', @equipment, method: :delete, data: {confirm: 'Are you sure you want to delete?'} %>