<% presenter_for(@equipment) do |equipment| %>
  <h1>Show Equipment</h1>

  <%= link_to 'Home', root_path %> |
  <%= link_to "All Equipment", equipment_index_path %> |
  <%= link_to 'Search Equipment', search_equipment_path %> |
  <%= link_to 'Create Equipment', new_equipment_path %>

  <p>
    <b>Name</b>
    <%= equipment.name %>
  </p>

  <p>
    <b>Serial Number</b>
    <%= equipment.serial_number %>
  </p>

  <p>
    <%= equipment.assigned_to_label %>
    <%= equipment.assignee %>
  </p>

  <p>
    <b>Status</b>
    <%= equipment.status %>
  </p>

  <p>
    <b>Inspection Interval</b>
    <%= equipment.inspection_interval %>
  </p>

  <p>
    <b>Last Inspection Date</b>
    <%= equipment.last_inspection_date %>
  </p>

  <p>
    <b>Expiration Date</b>
    <%= equipment.expiration_date %>
  </p>

  <p>
    <b>Comments</b>
    <%= equipment.comments %>
  </p>

  <%= equipment.edit_link %> |
  <%= equipment.delete_link %>
<% end %>