<% presenter_for(@equipment) do |equipment| %>
  <h1>Show Equipment</h1>

  <ul class="inline-list">
    <li><%= link_to "All Equipment", equipment_index_path %></li>
    <li><%= link_to 'Search Equipment', search_equipment_path %></li>
    <li><%= link_to 'Create Equipment', new_equipment_path %></li>
  </ul>

  <fieldset>
    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Name</span>
      </div>
      <div class="small-9 columns">
        <%= equipment.name %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Serial Number</span>
      </div>
      <div class="small-9 columns">
        <%= equipment.serial_number %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name"><%= equipment.assigned_to_label %></span>
      </div>
      <div class="small-9 columns">
        <%= equipment.assignee %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Status</span>
      </div>
      <div class="small-9 columns">
        <div class="<%=equipment.status_style%>">
          <%= equipment.status %>
        </div>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Inspection Interval</span>
      </div>
      <div class="small-9 columns">
        <%= equipment.inspection_interval %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Last Inspection Date</span>
      </div>
      <div class="small-9 columns">
        <%= equipment.last_inspection_date %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Expiration Date</span>
      </div>
      <div class="small-9 columns">
        <%= equipment.expiration_date %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Comments</span>
      </div>
      <div class="small-9 columns">
        <%= equipment.comments %>
      </div>
    </div>

    <div class="row actions">
      <div class="small-6 columns">
        <span class="right">
          <%= equipment.edit_link %>
          <%= equipment.delete_link %>
        </span>
      </div>
    </div>
  </fieldset>
<% end %>