<%= form_for(@user, :url => form_path, data: {user_form: "data-user-form"}) do |f| %>
  <%= hidden_field :user, :customer_id %>

  <%= render 'shared/errors', model: @user %>

  <fieldset>
    <div class="row field">
      <div class="small-6 columns">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :password %>
        <%= f.text_field :password %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :email, 'Email address' %>
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :expiration_notification_interval %>
        <%= select(:user, :expiration_notification_interval,
                   options_for_select(['Never', 'Daily', 'Weekly'],
                                      @user.expiration_notification_interval)) %>

      </div>
    </div>

    <div class="row actions">
      <div class="small-6 columns">
        <span class="right">
          <%= submit_tag(user_action, class: "button tiny radius") %>
          <%= delete_link if delete_link.present? %>
        </span>
      </div>
    </div>
  </fieldset>
<% end %>