<% presenter_for(@user) do |user| %>
  <h1>Show User</h1>

  <ul class="inline-list">
    <li><%= link_to 'All Users', customer_users_path %></li>
  </ul>

  <fieldset>
    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Name</span>
      </div>
      <div class="small-9 columns">
        <%= user.name %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Username</span>
      </div>
      <div class="small-9 columns">
        <%= user.username %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Customer</span>
      </div>
      <div class="small-9 columns">
        <%= link_to user.customer_name, user.customer %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Email Address</span>
      </div>
      <div class="small-9 columns">
        <%= user.email %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Expiration Notification Interval</span>
      </div>
      <div class="small-9 columns">
        <%= user.expiration_notification_interval %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Equipment Access</span>
      </div>
      <div class="small-9 columns">
        <%= user.equipment_access %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Certification Access</span>
      </div>
      <div class="small-9 columns">
        <%= user.certification_access %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Vehicle Access</span>
      </div>
      <div class="small-9 columns">
        <%= user.vehicle_access %>
      </div>
    </div>

    <div class="row actions">
      <div class="small-6 columns">
        <span class="right">
          <%= user.edit_link %>
          <%= user.delete_link %>
        </span>
      </div>
    </div>
  </fieldset>
<% end %>
