<div class="row">
  <div class="small-8 columns end">
    <h1 class="text-center">Sign Up</h1>
  </div>

  <div class="small-8 columns end">
    <p>
      Choose the recurring subscription plan that best suits your needs.
      Plans will automatically renew. Cancel anytime by contacting us at
      <a href="mailto:sales@certotrack.com">sales@certotrack.com</a>.
    </p>
  </div>
</div>

<div class="row">
  <div class="small-8 columns end">
    <%= form_for(@registration) do |f| %>
        <%= render 'errors', model: @registration %>
        <fieldset>
          <div class="row">
            <div class="small-6 columns">
              <%= f.label :first_name %>
              <%= f.text_field :first_name %>
            </div>
            <div class="small-6 columns end">
              <%= f.label :last_name %>
              <%= f.text_field :last_name %>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns">
              <%= f.label :customer_name %>
              <%= f.text_field :customer_name %>
            </div>
          </div>

          <div class="row">
            <div class="small-6 columns">
              <%= f.label :password, 'Enter Password' %>
              <%= f.password_field :password %>
            </div>
            <div class="small-6 columns">
              <%= f.label :password_confirm, 'Re-enter Password' %>
              <%= f.password_field :password_confirm %>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns">
              &nbsp;
            </div>
          </div>

          <div class="row">
            <div class="small-6 columns">
              <%= f.label :subscription, 'Annual - $270/year' %>
            </div>
            <div class="small-6 columns">
              <%= f.label :subscription, 'Monthly - $25/month' %>
            </div>
          </div>

          <div class="row">
            <div class="small-6 columns">
                <span onclick="annualSubscriptionSelected()">
                    <script name='checkoutScript'
                            src='https://checkout.stripe.com/checkout.js' class='stripe-button'
                            data-key='pk_test_XWkdckSXPZ46Kk835EWRJXdb'
                            data-amount='27000'
                            data-name='CertoTrack'
                            data-description='annual'
                            data-image='/assets/crystalLake_scaled.jpg'
                            data-locale='auto'
                            data-allow-remember-me="false"
                            data-label='Purchase Annual Subscription'>
                    </script>
                </span>
            </div>
            <div class="small-6 columns">
               <span onclick="monthlySubscriptionSelected()">
                    <script name='checkoutScript'
                            src='https://checkout.stripe.com/checkout.js' class='stripe-button'
                            data-key='pk_test_XWkdckSXPZ46Kk835EWRJXdb'
                            data-amount='2500'
                            data-name='CertoTrack'
                            data-description='monthly'
                            data-image='/assets/crystalLake_scaled.jpg'
                            data-locale='auto'
                            data-allow-remember-me="false"
                            data-label='Purchase Monthly Subscription'>
                    </script>
                </span>
            </div>
          </div>

          <%= f.hidden_field :subscription %>
        </fieldset>

    <% end %>
  </div>
</div>

<script type='text/javascript'>
    var annualSubscriptionSelected = function () {
        $('#registration_subscription').val('annual');
    };
    var monthlySubscriptionSelected = function () {
        $('#registration_subscription').val('monthly');
    };

</script>