<%= form_for(@customer, data: {customer_form: "data-customer-form"}) do |f| %>

  <%= render 'shared/errors', model: @customer %>

  <fieldset>
    <div class="row">
      <div class="small-6 columns">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :account_number %>
        <%= f.text_field :account_number %>
      </div>
    </div>

    <div class="row">
      <div class="small-1 columns">
        <%= f.check_box :equipment_access %>
      </div>
      <div class="small-11 columns">
        <%= f.label :equipment_access %>
      </div>
    </div>

    <div class="row">
      <div class="small-1 columns">
        <%= f.check_box :certification_access %>
      </div>
      <div class="small-11 columns">
        <%= f.label :certification_access %>
      </div>
    </div>

    <div class="row">
      <div class="small-1 columns">
        <%= f.check_box :vehicle_access %>
      </div>
      <div class="small-11 columns">
        <%= f.label :vehicle_access %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :contact_person_name %>
        <%= f.text_field :contact_person_name %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :contact_phone_number %>
        <%= f.text_field :contact_phone_number %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :contact_email %>
        <%= f.text_field :contact_email %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :address1 %>
        <%= f.text_field :address1 %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :address2 %>
        <%= f.text_field :address2 %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :state %>
        <%= select(:customer, :state,
                   options_for_select(@states),
                   {prompt: 'Select State...'}) %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :zip %>
        <%= f.text_field :zip %>
      </div>
    </div>

    <div class="row actions">
      <div class="small-6 columns">
        <span class="right">
          <%= submit_tag(user_action, class: "button tiny radius") %>
        </span>
      </div>
    </div>
  </fieldset>
<% end %>