<% presenter_for(@customer) do |customer| %>
  <h1>Show Customer</h1>

  <ul id="primary-nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'All Customers', customers_path %></li>
    <li><%= link_to 'Create Customer', new_customer_path %></li>
  </ul>

  <p>
    <b>Name</b>
    <%= customer.name %>
  </p>

  <p>
    <b>Account Number</b>
    <%= customer.account_number %>
  </p>

  <p>
    <b>Contact Person Name</b>
    <%= customer.contact_person_name %>
    (<%= mail_to customer.contact_email, customer.contact_email %>)
  </p>

  <p>
    <b>Contact Phone Number</b>
    <%= customer.contact_phone_number %>
  </p>

  <p>
    <b>Contact Email</b>
  </p>

  <p>
    <b>Address</b>
    <%= customer.address1 %>
    <%= customer.address2 %>,
    <%= customer.city %>, <%= customer.state %>
    <%= customer.zip %>
  </p>

  <p>
    <b>Equipment Access</b>
    <%= customer.equipment_access %>
  </p>

  <p>
    <b>Certification Access</b>
    <%= customer.certification_access %>
  </p>

  <p>
    <b>Vehicle Access</b>
    <%= customer.vehicle_access %>
  </p>

  <p>
    <b>Locations</b>
  <ul>
    <% customer.locations.each do |location| %>
      <li><%= location.name %></li>
    <% end %>
  </ul>
  </p>

  <%= link_to 'Create New Location', new_location_path(customer_id: customer.id) %>

  <h2>Customer's Users</h2>
  <table class="sortable" border="1">
    <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <% customer.users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>
  <%= customer.edit_link %>

<% end %>
