<% if @batch_certification.present? %>
  <div class="errors">
    <ul>
      <li>Errors occurred during the batch update. See below for details.</li>
    </ul>
  </div>
<% end %>

<% presenter_for(@certification_type) do |certification_type| %>
  <h1>Show Certification Type</h1>

  <ul class="inline-list">
    <li><%= link_to "Search Certification Types", search_certification_types_path %></li>
    <li><%= link_to 'Create Certification Type', new_certification_type_path %></li>
  </ul>

  <%= render 'shared/errors', model: @certification_type %>

  <p>
    <b>Name</b>
    <%= certification_type.name %>
  </p>

  <p>
    <b>Interval</b>
    <%= certification_type.interval %>
  </p>

  <p>
    <b><%= certification_type.units_required_label %></b>
    <%= certification_type.units_required %>
  </p>

  <p>
    <b>Certified Employees</b>
    <%= @certifications_count %>
  </p>

  <p>
    <b>Non-Certified Employees</b>
    <%= @non_certified_employee_count %>
  </p>

  <%= certification_type.edit_link %> |
  <%= certification_type.delete_link %>
  <%= certification_type.auto_recertify_link.html_safe %>

  <br/>

  <h2>Certified Employees</h2>

  <% if certification_type.show_batch_edit_button?(@certifications) %>
    <input type="checkbox" id="editModeButton"/>
    <label for="editModeButton">Batch Edit Mode</label>
  <% end %>

  <%= form_tag(controller: 'batch_certifications', action: 'create') do %>
    <%= certification_type.hidden_id_field %>
        <span data-certified="data-certified">
        <table class="sortable" border="1">
          <thead>
          <tr>
            <th><%= sortable 'sort_key', title = 'Employee Name', options = 'certified_employee_name' %></th>
            <th>Employee Number</th>
            <th>Location</th>
            <th>Trainer</th>
            <th>Expiration Date</th>
            <th>Last Certification Date</th>
            <th>Units</th>
            <th><%= sortable 'status', title='Status', options = 'certified_status' %></th>
            <th>Certification</th>
          </tr>
          </thead>
          <tbody>
          <% @certifications.each do |certification| %>
            <tr>
              <td><%= link_to certification.employee_name, certification.employee_model %></td>
              <td><%= certification.employee.employee_number %></td>
              <td><%= certification.location %></td>
              <td><%= certification.trainer %></td>
              <td><%= certification.expiration_date %></td>
              <td><%= certification.last_certification_date %></td>
              <td>
                <% if certification.units_based? %>
                  <span data-units-achieved-editable='data-units-achieved-editable'>
                    <%= certification_type.units_input_field(certification, @batch_certification) %> of <%= certification.units_required %>
                  </span>
                  <span data-units-achieved-read-only='data-units-achieved-read-only'>
                    <%= certification.units_achieved_of_required %>
                  </span>
                  <% if @batch_certification.present? %>
                    <div class="errors">
                      <%= @batch_certification.error(certification.id) %>
                    </div>
                  <% end %>
                <% end %>
              </td>
              <td><%= certification.status %></td>
              <td><%= link_to 'Edit', certification.model %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </span>

      <div id="batchUpdateButtons">
        <button type="submit" id="batchUpdateButton">
          Update
        </button>
        <button type="reset" id="resetButton">
          Reset
        </button>
      </div>

  <% end %>

  <h2>Non Certified Employees</h2>
  <span data-uncertified="data-uncertified">
  <table class="sortable" border="1">
    <thead>
    <tr>
      <th><%= sortable 'sort_key', title = 'Employee Name', options = 'non_certified_employee_name' %></th>
      <th>Employee Number</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @non_certified_employees.each do |non_certified_employee| %>
      <tr>
        <td><%= link_to non_certified_employee.name, non_certified_employee.model %></td>
        <td><%= non_certified_employee.employee_number %></td>
        <td>
          <%= link_to 'Certify',
                      new_certification_path(
                        certification_type_id: certification_type.id,
                        employee_id: non_certified_employee.id,
                        source: :certification_type
                      )
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</span>
<% end %>

<script type="text/javascript">
  $(function() {
    setup_batch_certification(
      "<%=certification_type_path @certification_type%>",
      "<%=@batch_certification.present?%>");
  })
</script>