<% if @batch_certification.present? %>
  <div class="panel errors radius">
    <h4>Errors occurred during the batch update. See below for details.</h4>
  </div>
<% end %>

<% presenter_for(@certification_type) do |certification_type| %>
  <h1>Show Certification Type</h1>

  <ul class="inline-list">
    <li><%= link_to "Search Certification Types", search_certification_types_path %></li>
    <li><%= link_to 'Create Certification Type', new_certification_type_path %></li>
  </ul>

  <%= render 'shared/errors', model: @certification_type %>

  <fieldset>
    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Certified Employees</span>
      </div>
      <div class="small-9 columns">
        <%= @certifications_count %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Non-Certified Employees</span>
      </div>
      <div class="small-9 columns">
        <%= @non_certified_employee_count %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Name</span>
      </div>
      <div class="small-9 columns">
        <%= certification_type.name %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Interval</span>
      </div>
      <div class="small-9 columns">
        <%= certification_type.interval %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name"><%= certification_type.units_required_label %></span>
      </div>
      <div class="small-9 columns">
        <%= certification_type.units_required %>
      </div>
    </div>

    <div class="row actions">
      <div class="small-6 columns">
        <span class="right">
          <%= certification_type.edit_link %>
          <%= certification_type.delete_link %>
          <%= certification_type.auto_recertify_link.html_safe %>
        </span>
      </div>
    </div>
  </fieldset>

  <h3>Certified Employees</h3>

  <% if certification_type.show_batch_edit_button?(@certifications) %>
    <input type="checkbox" id="editModeButton"/>
    <label for="editModeButton">Batch Edit Mode</label>
  <% end %>

  <%= form_tag(controller: 'batch_certifications', action: 'create') do %>
    <%= certification_type.hidden_id_field %>
    <span data-certified="data-certified">
        <table class="sortable">
          <thead>
          <tr>
            <th><%= sortable 'sort_key', title = 'Employee Name', options = 'certified_employee_name' %></th>
            <th>Employee Number</th>
            <th>Location</th>
            <th>Trainer</th>
            <th>Expiration Date</th>
            <th>Last Certification Date</th>
            <th>Units</th>
            <th><%= sortable 'status', title='Status', options = 'certified_status' %></th>
            <th>Certification</th>
          </tr>
          </thead>
          <tbody>
          <% @certifications.each do |certification| %>
            <tr>
              <td><%= link_to certification.employee_name, certification.employee_model %></td>
              <td><%= certification.employee.employee_number %></td>
              <td><%= certification.location %></td>
              <td><%= certification.trainer %></td>
              <td><%= certification.expiration_date %></td>
              <td><%= certification.last_certification_date %></td>
              <td>
                <% if certification.units_based? %>
                  <span data-units-achieved-editable='data-units-achieved-editable'>
                    <%= certification_type.units_input_field(certification, @batch_certification) %>
                    of <%= certification.units_required %>
                  </span>
                  <span data-units-achieved-read-only='data-units-achieved-read-only'>
                    <%= certification.units_achieved_of_required %>
                  </span>
                  <% if @batch_certification.present? && @batch_certification.error(certification.id).present? %>
                    <div class="panel errors">
                      <%= @batch_certification.error(certification.id) %>
                    </div>
                  <% end %>
                <% end %>
              </td>
              <td>
                <div class="<%= certification.status_style %>">
                  <%= certification.status %>
                </div>
              </td>
              <td><%= link_to 'Edit', certification.model %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

      </span>

    <div id="batchUpdateButtons">
      <button type="submit" id="batchUpdateButton">
        Update
      </button>
      <button type="reset" id="resetButton">
        Reset
      </button>
    </div>

  <% end %>

  <h3>Non Certified Employees</h3>
  <span data-uncertified="data-uncertified">
  <table class="sortable">
    <thead>
    <tr>
      <th><%= sortable 'sort_key', title = 'Employee Name', options = 'non_certified_employee_name' %></th>
      <th>Employee Number</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @non_certified_employees.each do |non_certified_employee| %>
      <tr>
        <td><%= link_to non_certified_employee.name, non_certified_employee.model %></td>
        <td><%= non_certified_employee.employee_number %></td>
        <td>
          <%= link_to 'Certify',
                      new_certification_path(
                        certification_type_id: certification_type.id,
                        employee_id: non_certified_employee.id,
                        source: :certification_type
                      )
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</span>
<% end %>

<script type="text/javascript">
  $(function() {
    setup_batch_certification(
      "<%=certification_type_path @certification_type%>",
      "<%=@batch_certification.present?%>");
  })
</script>