<table class="sortable">
  <thead>
  <tr>
    <th><%= sortable 'certification_type' %></th>
    <th><%= sortable 'interval_code', title="Interval" %></th>
    <th><%= sortable 'units_required_sort_key', title="Units" %></th>
    <th><%= sortable 'status_code', title='Status' %></th>
    <th><%= sortable 'employee_name', title = 'Employee' %></th>
    <th><%= sortable 'trainer' %></th>
    <th><%= sortable 'last_certification_date_sort_key', title='Last Certification Date' %></th>
    <th><%= sortable 'expiration_date_sort_key', title='Expiration Date' %></th>
  </tr>
  </thead>
  <tbody>
  <% @certifications.each do |certification| %>
    <tr>
      <td><%= link_to certification.name, certification.model.certification_type %></td>
      <td><%= certification.interval %></td>
      <td><%= certification.units_achieved_of_required %></td>
      <td><%= certification.status %></td>
      <td><%= link_to certification.employee_name, certification.employee_model %></td>
      <td><%= certification.trainer %></td>
      <td><%= certification.last_certification_date %></td>
      <td><%= certification.expiration_date %></td>
    </tr>
  <% end %>
  </tbody>
</table>