<h1><%=@report_title%></h1>

<div>Total: <%=@certification_count%></div>

<ul class="inline-list">
  <li><%= link_to 'Create Certification', new_certification_path %></li>
  <li><%= link_to 'Search Certifications', search_certifications_path %></li>
</ul>

<ul id="export-nav">
  <%= render @export_template %>
</ul>

<%= render 'certification_list'%>

<%= will_paginate @certifications, renderer: FoundationPagination::Rails %>