<h1><%= @report_title %></h1>

<div>Total: <%= @certification_count %></div>

<ul class="inline-list">
  <li><%= link_to "Create Certification", new_certification_path %></li>
</ul>

<p>You may enter any of the below values.</p>

<%= form_tag search_certifications_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <table>
    <tr>
      <td><label for="certification_type_or_employee_name">Employee or Certification Type Name contains:</label></td>
      <td>
        <%= text_field_tag :certification_type_or_employee_name, params[:certification_type_or_employee_name] %>
      </td>
    </tr>
    <tr>
      <td><label for="location_id">Employee assigned to Location:</label></td>
      <td>
        <select name="location_id">
          <option value='' selected='selected'>Any Location</option>
          <%=
              options_from_collection_for_select(@locations, 'id', 'name', params[:location_id])
          %>
        </select>
      </td>
    </tr>
    <tr>
      <td><label for="certification_type">Certification Type:</label></td>
      <td>
        <select name="certification_type">
          <option value='' selected='selected'>All Types</option>
          <%=
              options_from_collection_for_select(@certification_types, 'id', 'name', params[:certification_type])
          %>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= submit_tag "Search", :name => nil %>
      </td>
    </tr>
  </table>
<% end %>

<ul id="export-nav">
  <li><%= link_to 'Export to CSV', search_certifications_path(format: 'csv', params: params) %></li>
  <li><%= link_to 'Export to Excel', search_certifications_path(format: 'xls', params: params) %></li>
  <li><%= link_to 'Export to PDF', search_certifications_path(format: 'pdf', params: params) %></li>
</ul>

<%= render 'certification_list' %>

<%= will_paginate @certifications %>