<% presenter_for(@certification) do |certification| %>
  <h1>Show Certification</h1>

  <ul class="inline-list">
    <li><%= link_to 'Search Certifications', search_certifications_path %></li>
    <li><%= link_to 'Create Certification', new_certification_path(source: :certification) %></li>
    <li><%= link_to 'Create Employee', new_employee_path %></li>
  </ul>

  <p>
    <b>Certification Type</b>
    <%= certification.certification_type_show_link %>
  </p>

  <p>
    * <%= certification.show_history_link %>
  </p>

  <p>
    <b>Certification Interval</b>
    <%= certification.interval %>
  </p>

  <p>
    <b>Employee</b>
    <%= certification.employee_show_link %>
  </p>

  <p>
    <b>Trainer</b>
    <%= certification.trainer %>
  </p>

  <p>
    <b>Status</b>
    <%= certification.status %>
  </p>

  <p>
    <b>Last Certification Date</b>
    <%= certification.last_certification_date %>
  </p>

  <p>
    <b>Expiration Date</b>
    <%= certification.expiration_date %>
  </p>

  <p>
    <b><%= certification.units_achieved_label %></b>
    <%= certification.units_achieved_of_required %>
  </p>

  <p>
    <b>Comments</b>
    <%= certification.comments %>
  </p>

  <%= certification.recertify_link %> |
  <%= certification.edit_link %> |
  <%= certification.delete_link %>
<% end %>