<% presenter_for(@certification) do |certification| %>
  <h1>Show Certification</h1>

  <ul class="inline-list">
    <li><%= link_to 'Search Certifications', search_certifications_path %></li>
    <li><%= link_to 'Create Certification', new_certification_path(source: :certification) %></li>
    <li><%= link_to 'Create Employee', new_employee_path %></li>
  </ul>

  <fieldset>
    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Certification Type</span>
      </div>
      <div class="small-3 columns">
        <%= certification.certification_type_show_link %>
      </div>
      <div class="small-6 columns">
        <%= certification.show_history_link %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Certification Interval</span>
      </div>
      <div class="small-9 columns">
        <%= certification.interval %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Employee</span>
      </div>
      <div class="small-9 columns">
        <%= certification.employee_show_link %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Trainer</span>
      </div>
      <div class="small-9 columns">
        <%= certification.trainer %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Status</span>
      </div>
      <div class="small-9 columns">
        <div class="<%=certification.status_style%>">
          <%= certification.status %>
        </div>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Last Certification Date</span>
      </div>
      <div class="small-9 columns">
        <%= certification.last_certification_date %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Expiration Date</span>
      </div>
      <div class="small-9 columns">
        <%= certification.expiration_date %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name"><%= certification.units_achieved_label %></span>
      </div>
      <div class="small-9 columns">
        <%= certification.units_achieved_of_required %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Comments</span>
      </div>
      <div class="small-9 columns">
        <%= certification.comments %>
      </div>
    </div>

    <div class="row actions">
      <div class="small-6 columns">
        <span class="right">
          <%= certification.recertify_link %>
          <%= certification.edit_link %>
          <%= certification.delete_link %>
        </span>
      </div>
    </div>

  </fieldset>


<% end %>