<h2>Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>
    <div class="row">
      <div class="small-6 columns">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.submit 'Login', class: "button tiny radius right" %>
      </div>
    </div>
  </fieldset>
<% end %>