<table>
  <thead>
  <tr>
    <th><%= sortable 'employee_number' %></th>
    <th><%= sortable 'first_name' %></th>
    <th><%= sortable 'last_name' %></th>
    <th><%= sortable 'location_name' %></th>
    <th>Deactivation Date</th>
    <th>Reactivate</th>
  </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.employee_number %></td></td>
      <td><%= employee.first_name %></td></td>
      <td><%= employee.last_name %></td></td>
      <td><%= employee.location_name %></td></td>
      <td><%= employee.deactivation_date %></td></td>
      <td><%= presenter_for(employee.model).reactivate_link %></td></td>
    </tr>
  <% end %>
  </tbody>
</table>