<table>
  <thead>
  <tr>
    <th>Employee Number</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Location</th>
    <th>Deactivation Date</th>
    <th>Reactivate</th>
  </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.employee_number %></td></td>
      <td><%= employee.first_name %></td></td>
      <td><%= employee.last_name %></td></td>
      <td><%= employee.location_name %></td></td>
      <td><%= employee.deactivation_date %></td></td>
      <td><%= presenter_for(employee.model).reactivate_link %></td></td>
    </tr>
  <% end %>
  </tbody>
</table>