<h1>Edit Vehicle</h1>

<ul id="primary-nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Search Vehicles', search_vehicles_path %></li>
  <li><%= link_to "Create Vehicle", new_vehicle_path %></li>
</ul>

<%= render 'form', user_action: 'Update' %>

<%= link_to 'Delete', @vehicle, method: :delete, data: {confirm: 'Are you sure you want to delete this vehicle?'} %>