<h1><%=@report_title%></h1>

<ul class="inline-list">
  <li><%= link_to 'Create Vehicle', new_vehicle_path %></li>
</ul>

<ul class="inline-list">
  <li>Total: <%= @vehicle_count %></li>
</ul>

<%= render 'vehicle_list'%>

<%= will_paginate @vehicles, renderer: FoundationPagination::Rails %>