<% presenter_for(@vehicle) do |vehicle| %>
  <h1>Show Vehicle</h1>

  <ul id="primary-nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Search Vehicles', search_vehicles_path %></li>
    <li><%= link_to 'Create Vehicle', new_vehicle_path %></li>
  </ul>

  <p>
    <b>Vehicle Number</b>
    <%= vehicle.vehicle_number %>
  </p>

  <p>
    <b>VIN</b>
    <%= vehicle.vin %>
  </p>

  <p>
    <b>License Plate</b>
    <%= vehicle.license_plate %>
  </p>

  <p>
    <b>Year</b>
    <%= vehicle.year %>
  </p>

  <p>
    <b>Make</b>
    <%= vehicle.make %>
  </p>

  <p>
    <b>Model</b>
    <%= vehicle.vehicle_model %>
  </p>

  <p>
    <b>Mileage</b>
    <%= vehicle.mileage %>
  </p>

  <p>
    <b>Location</b>
    <%= vehicle.location %>
  </p>

  <p>
    <b>Status</b>
    <%= vehicle.status %>
  </p>

  <%= vehicle.edit_link %> |
  <%= vehicle.delete_link %>


  <h2>Vehicle's Services</h2>

  <span vehicle-services="vehicle-services">
    <table border="1">
      <thead>
      <tr>
        <th>Service Type</th>
        <th>Service Due Date</th>
        <th>Service Due Mileage</th>
        <th>Last Service Date</th>
        <th>Last Service Mileage</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= link_to service.service_type_name, service.model %></td>
          <td><%= service.service_due_date %></td>
          <td><%= service.service_due_mileage %></td>
          <td><%= service.last_service_date %></td>
          <td><%= service.last_service_mileage %></td>
          <td><%= service.status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </span>

  <br/>
  <%= vehicle.new_service_link %>
<% end %>