<% presenter_for(@vehicle) do |vehicle| %>
  <h1>Show Vehicle</h1>

  <ul class="inline-list">
    <li><%= link_to 'Search Vehicles', search_vehicles_path %></li>
    <li><%= link_to 'Create Vehicle', new_vehicle_path %></li>
  </ul>

  <%= render 'shared/errors', model: @vehicle %>

  <fieldset>
    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Vehicle Number</span>
      </div>
      <div class="small-9 columns">
        <%= vehicle.vehicle_number %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">VIN</span>
      </div>
      <div class="small-9 columns">
        <%= vehicle.vin %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">License Plate</span>
      </div>
      <div class="small-9 columns">
        <%= vehicle.license_plate %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Year</span>
      </div>
      <div class="small-9 columns">
        <%= vehicle.year %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Make</span>
      </div>
      <div class="small-9 columns">
        <%= vehicle.make %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Model</span>
      </div>
      <div class="small-9 columns">
        <%= vehicle.vehicle_model %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Mileage</span>
      </div>
      <div class="small-9 columns">
        <%= vehicle.mileage %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Location</span>
      </div>
      <div class="small-9 columns">
        <%= vehicle.location %>
      </div>
    </div>

    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Status</span>
      </div>
      <div class="small-9 columns">
        <%= vehicle.status %>
      </div>
    </div>

    <div class="row actions">
      <div class="small-6 columns">
        <span class="right">
          <%= vehicle.edit_link %>
          <%= vehicle.delete_link %>
        </span>
      </div>
    </div>
  </fieldset>

  <h3>Vehicle's Services</h3>

  <span data-vehicle-services="data-vehicle-services">
    <table>
      <thead>
      <tr>
        <th><%= sortable 'sort_key', title = 'Service Type' %></th>
        <th>Service Due Date</th>
        <th>Service Due Mileage</th>
        <th>Last Service Date</th>
        <th>Last Service Mileage</th>
        <th><%= sortable 'status_code', title = 'Status' %></th>
      </tr>
      </thead>
      <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= link_to service.service_type_name, service.model %></td>
          <td><%= service.service_due_date %></td>
          <td><%= service.service_due_mileage %></td>
          <td><%= service.last_service_date %></td>
          <td><%= service.last_service_mileage %></td>
          <td><%= service.status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </span>

  <div class="row actions">
    <div class="small-6 columns">
      <%= vehicle.new_service_link %>
    </div>
  </div>

<% end %>