<h1><%=@report_title%></h1>

<ul class="inline-list">
  <li><%= link_to 'Create Location', new_location_path %></li>
</ul>

<ul class="inline-list">
  <li>Total: <%= @location_count %></li>
</ul>

<%= render 'locations_list'%>

<%= will_paginate @locations, renderer: FoundationPagination::Rails %>