<% presenter_for(@location) do |location| %>
  <h1>Show Location</h1>

  <ul class="inline-list">
    <li><%= link_to "All Locations", locations_path %></li>
    <li><%= link_to 'Create Location', new_location_path %></li>
  </ul>

  <%= render 'shared/errors', model: @location %>

  <fieldset>
    <div class="row field">
      <div class="small-3 columns">
        <span class="field-name">Name</span>
      </div>
      <div class="small-9 columns">
        <%= location.name %>
      </div>
    </div>

    <% if can? :manage, :customer %>
      <div class="row field">
        <div class="small-3 columns">
          <span class="field-name">Customer</span>
        </div>
        <div class="small-9 columns">
          <%= link_to location.customer_name, location.customer %>
        </div>
      </div>
    <% end %>

    <div class="row actions">
      <div class="small-6 columns">
        <span class="right">
          <%= location.edit_link %>
          <%= location.delete_link %>
        </span>
      </div>
    </div>
  </fieldset>
<% end %>