<% presenter_for(@location) do |location| %>
  <h1>Show Location</h1>

  <ul class="inline-list">
    <li><%= link_to "All Locations", locations_path %></li>
    <li><%= link_to 'Create Location', new_location_path %></li>
  </ul>

  <%= render 'shared/errors', model: @location %>

  <p>
    <b>Name</b>
    <%= location.name %>
  </p>

  <% if can? :manage, :customer %>
    <p>
      <b>Customer</b>
      <%= link_to location.customer_name, location.customer %>
    </p>
  <% end %>

  <%= location.edit_link %> |
  <%= location.delete_link %>
<% end %>