<!DOCTYPE html>
<html>
<head>
  <title>Certotrack</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>

<%= yield %>

<script type="text/javascript">
  $(function() {
    $('.datepicker').datepicker(
      {
        showOn: "button",
        buttonImage: "/assets/calendar.png",
        buttonImageOnly: true,
        dateFormat: 'mm/dd/yy',
        changeYear: true
      });
  });
</script>

</body>
</html>